
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;

}
.container{background:linear-gradient(135deg,#64B079,#59AA9F,#50A5BD);
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;}

#todo-app{
background-color: white;
width: 100%;
max-width: 540px;
margin: 100px auto 20px;
margin-left: auto;
margin-right: auto;
padding: 40px 30px 70px;
border-radius: 10px;
}

#todo-app h2{display: flex;
align-items: center;
color: #12574e;
margin-bottom: 20px;
font-weight: 600;
margin-left: 5px;
}

#todo-app h2 img{margin-left: 10px; width: 30px; font-weight: bold;}

.row{background-color: #EBEAEA;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 15px;
margin-bottom: 25px;
border-radius: 30px;}

.row input{
  flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 8px;
  
}
button{
  outline: none;
  border: none;
  background-color:  #278E98;
  border-radius: 50px;
  color: white;
  padding: 16px 50px;
  font-size: 16px;
}

ul li{
  list-style: none;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
  padding: 12px 10px 12px 50px;
  position: relative;
}

ul li::before{
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url(https://cdn-icons-png.flaticon.com/512/7794/7794693.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 12px;
  top: 10px;

}
ul li.checked{
  color: #555;
 text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(images/2.png);
  background-size: cover;
}

ul li span{
position: absolute;
right: 0px;
top: 10px;
font-size: 17px;
color: #282828;
font-weight: bold;
width: 30px;
height: 30px;
align-items: center;
text-align: center;
border-radius: 50%;
justify-content: center;
display: flex;



}

ul li span:hover{
  background-color: rgb(230, 230, 230);
}





